* {
    box-sizing: border-box;
}

li {
    display: flex;
    align-items: center;
    text-decoration: none;
}

li p {
    margin-right: 5px;
}

#progress {
    border: 3px solid black;
    border-radius: 7px;
    width: 250px;
    position: relative;
}

.bar {
    border-radius: 3px;
    height: 20px;
    background-color: grey;
}